body {
  width: 440px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: sans-serif;
}

section {
  width: 100%;
  height: 100%;
  display: block;
  border: 3px solid black;
}

section li {
  width: 20px;
  height: 20px;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
}
ul:first-child {
  margin-top: 6px;
}
ul {
  background-color: #FFFFFF;
  list-style: disc outside none;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

mark {
  background-color: #DCDCDC;
}

.instruction-popup {
  position: absolute;
  background: white;
  border: 1px solid black;
  height: 284px;
  width: 364px;
  margin-left: 40px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.movement {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.wasd-keys-image {
  background-image: url('../assets/wasd_keys.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 112px;
  width: 170px;
}

.wasd-keys-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.welcome-message {
  color: red;
  margin-top: 0px;
}

.play-button {
  align-self: center;
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  font-size: 26px;
  border-radius: 6px;
  background-color: #E8E8E8;
}

.repo-link-button {
  align-self: center;
  margin-top: 12px;
  width: 160px;
  padding: 4px;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 6px;
  background-color: #E8E8E8;
  text-decoration: none;
  color: black;
}

.repo-link-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.play-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.title-desc {
  font-size: 14px;
  color: #585858;
}

.main {
  margin-top: 6px;
  font-size: 14px;
}

.segment {
  background-color: lime;
}

.apple {
  background-color: red;
}


.main-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.author {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-left: 6px;
  margin-right: 10px;
}
.author:hover {
  cursor: pointer;
  color: orange;
}

.right-main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: lightgray;
  text-align: center;
  font-size: 18px;
  align-items: center;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.github_link {
  width: 30px;
  height: 30px;
  background-image: url("../assets/githubicon.gif");
  border-radius: 10px;
  background-size: contain;
  margin-right: 10px;
}
.linkedin_link {
  width: 30px;
  height: 30px;
  background-image: url("../assets/linkedinicon.jpg");
  border-radius: 10px;
  background-size: contain;
  margin-right: 10px;
}

.link-underline-remove {
  text-decoration: none;
}
