body {
  width: 660px;
  height: 660px;
  display: block;
  border: 3px solid black;
}

body li {
  width: 20px;
  height: 20px;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
}

.segment {
  background-color: lime;
}
